.main-single-product-container {
  display: flex;
  padding: 0 4%;
}
.product-img-container {
  width: 50%;
  /* height: 300px; */
  /* border: 1px solid black; */
}
.product-img {
  /* width: 100%; */
  height: 300px;
  object-fit: contain;
}
.product-details-container {
  width: 50%;
  /* border: 1px solid black; */
}
